body {
  padding-top: 40px;
  background-color: lightblue;
  height: 100%;
}

#root {
  height: 100%;
}

.container {
  height: 90%;
  width: 800px;
  min-height: 500px;
  margin: 0 auto;
  background-color: #f4f3ee;
  padding: 10px;
}
