#handCollection {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1.5em 1fr;
  font-size: 16pt;
  padding-left: 10px;
}

#handLabel {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

#handCollection .hand {
  height: 100%;
  display: inline-block;
  float: left;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;

  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: 100%;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
}

#collectionLabel {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

#handCollection .collection {
  height: 100%;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;

  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: 100%;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
}

#handCollection > div {
  display: flex;
  justify-content: left;
  width: 100%;
}
#handCollection img {
  align-self: center;
  margin: 2px;
}

#handCollection .played {
  transform: scale(1.05);
}
